# Prerequisites
*db*
*log
*.d
*.vs
*.recipe*
*.FileListAbsolute*

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*pch*
*.gch
*.pch
*.ipch
*.pdb
*.idb
*.ilk
*.exp

# Compiled Dynamic libraries
*.so
*.suo
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
